<% javascript_include_tag 'home' %>

<span id="response"></span>

<%= form_for(Video.new, url: api_v1_videos_url(format: "json"), remote: true) do |f| %>
  <%= f.file_field :video %><br/>
  <%= hidden_field_tag :token, "simple_token" %><br/>
  <%= f.label :start_time %><br/>
  <%= f.text_field :start_time %><br/>
  <%= f.label :end_time %><br/>
  <%= f.text_field :end_time %><br/>
  <%= label_tag :processing_delay %><br/>
  <%= text_field_tag :processing_delay, 0 %><br/>
  <%= label_tag :force_error %><br/>
  <%= check_box_tag :force_error, true %><br/>

  <%= f.submit "Trim and save" %>
<% end %>

<div id="video_list">
  <ul>
    <% current_user.videos.each do |video| %>
      <li>
        <%= link_to video.name, video.url %>|
        <%= video.status %>|
        <%= video.duration %>|
        <% if video.failed? %>
          <%= button_tag "Retry", class: :great_button, data: { url: retry_api_v1_video_url(video, format: "json") } %>
        <% else %>
          <%= button_tag "Update status", class: :great_button, data: { url: api_v1_video_url(video, format: "json") } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
